 <img class="h-10 w-10 self-center" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAMAAAAocOYLAAAAV1BMVEVHcEyKpk6SwB+SwB+SwB+SwB+SwB+SwR2SwB+SwB6SwB+SwB+AgoWDjXWSwB+AgYaAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoWAgoVcIbYnAAAAHXRSTlMAD2+t0fBjNP9Hw5phH4E1/8m8r9VHVpSB5XX5bpo9wuEAAAE9SURBVHgBbdEFksQgEEDRT9wITVzm/udcqOgw+8ppT3ioKE7SNE3iTPErT4o4Lk5JScCFcijT4lQFPYoi5aDyrE5cRsmtoXQPgG6zUuPlbZpxMkLk4ml5tk+rtvQpnMRSF6HqLu+k9+v9itXR3cWr4l85YEU62jrL1b3+cyUgIgOeNuM0jQZHX/soGnEwgzy6BtQxMWMWRyPfZsh8vMaKs9BJwFC6eMIqHlpCk/9o6Rlf2CRkqO64aGYJ7CgXt3IlTBJYqBIaOY3wWZ8DfB1lDMt9tgY1zb0d1lXh3w0RvPoOH81NuSY4GmXlMfTzsvjA6DrijDOMg3yzxu+14g37CHq+dtuWJ+satE444zb3fkkjJ4XHePw0zeW52HsuWG33qm/wng7B/JEXFR4wKN6CE4eRX3rr1132td80tz9evCSmDQIB6QAAAABJRU5ErkJggg==" />
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
   SolutionTracker
</span>
